<!DOCTYPE html>
<html>
<head>
<title></title>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="example1">
	<p v-if="male">Male</p>
	<p v-if="female">Female</p>
	<p v-if="age>25">Age：{{age}}</p>
	<p v-if="name.indexOf('lin')>0">Name：{{name}}</p>
	<hr>
	<p v-show="male">Male</p>
	<p v-show="female">Female</p>
	<p v-show="age>25">Age：{{age}}</p>
	<p v-show="name.indexOf('lin')>0">Name：{{name}}</p>
	<hr>
	<p v-if="age>33">Age: {{age}}</p>
	<p v-else>Name1: {{name}}</p>
</div>



<script>
var vm = new Vue({
	el: '#example1',
	data: {
		male: true,
		female: false,
		age: 29,
		name: 'colin'
	}
})
</script>
</body>
</html>